type backuptool, domain, coredomain;

neverallow {
    domain
    -recovery
    -update_engine
} backuptool:process transition;

permissive backuptool;
