allow system_server storage_stub_file:dir getattr;

allow system_server adbroot_service:service_manager find;

add_service(system_server, app_lock_service);

# CachedAppOptimizer
allow system_server audioserver_tmpfs:file rw_file_perms;
allow system_server tmpfs:file rw_file_perms;
allow system_server zygote_tmpfs:file rw_file_perms;

# Use HALs
hal_client_domain(system_server, hal_lineage_health)
hal_client_domain(system_server, hal_lineage_livedisplay)
hal_client_domain(system_server, hal_lineage_touch)
hal_client_domain(system_server, hal_lineage_powershare)

# Let system server find auxiliary camera properties
get_prop(system_server, vendor_persist_camera_prop)

# Let system server toggle xtra-daemon
set_prop(system_server, xtra_control_prop)

allow system_server pocket_service:service_manager { add find };
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;

# Webview
allow system_server webview_zygote:process setsched;
allow system_server app_zygote:process setsched;

# Linearmotor Vibrator
add_service(system_server, linearmotor_vibrator_service);

# Freeform
add_service(system_server, lmo_freeform_service);

# Boost framework
add_service(system_server, boost_framework_service);

# TrickyStore
allow system_server trickystore_data_file:dir { create open read write add_name remove_name search getattr };
allow system_server trickystore_data_file:file { create open read write getattr setattr unlink };

# PlayIntegrityFix
allow system_server pif_data_file:dir { create open read write add_name remove_name search getattr };
allow system_server pif_data_file:file { create open read write getattr setattr unlink };
