allow webview_zygote ion_device:chr_file r_file_perms;

allow webview_zygote theme_data_file:dir search;
allow webview_zygote theme_data_file:file r_file_perms;
allow webview_zygote system_data_file:file open;
